/*
Colors base
*/
$c0: #000000; //Black
$c1: #ffffff; //White
$c2: #444444; //Text
$c3: #bb0000; //Primary
$c4: #0ba7c6; //Secondary
$c5: #999999; //Muted
$c6: #222222; //Heading
$c7: #bb0000; //Error
$c8: #00bb00; //Success
$c9: #cccccc; //Border
$c10: #f2f2f2; //Gray light bg

/*
Colors custom
*/
$c11: pink;

/*
Root Font Size
*/
$bp-root-text-size: 16px;

/*
Breakpoints
*/
$bp-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$bp-breakpoint-classes: (xs, sm, md, lg, xl, xl-down, lg-down, md-down, sm-down, xs-down);
$bp-xs-down: 359px;

/*
Transitions times
*/
$bp-transition-time: 0.3s;
$bp-transition-time-fast: 0.1s;
$bp-transition-time-slow: 0.6s;
