/*
Boilerplate
*/

//This is temporary style (in first use delete this crap style)
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
a, button{
  transition: all 0.3s ease;
}
body{
  font-family: 'Open Sans', sans-serif;
  padding: 30px 15px;
}
ul{
  padding: 30px;
  background: $c10;
  li{ color:$c2 }
}
h1{ color: $c4 }
a{ color:$c3 }
hr{
  margin: 30px 0;
}
strong{
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 6px;
}
.block-items{
    background: #f8f8f8;
    min-height: 320px;
    > div, > li{
        background: darkred;
        width: 100px;
        min-height: 100px;
        margin: 10px;
        border:3px solid rgba(0, 0, 0, 0.75);
        border-radius:3px;
        color: #fff;
        overflow: hidden;
    }
}
