@font-face {
	font-family: 'svg-font';
	src: url('../fonts/svg/svg-font.eot');
	src: url('../fonts/svg/svg-font.eot') format('embedded-opentype'),
	url('../fonts/svg/svg-font.ttf') format('truetype'),
	url('/../fonts/svg/svg-font.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.sf {
	position: relative;
	display: inline-block;
	font-family: 'svg-font' !important;
	font-feature-settings: normal;
	font-kerning: auto;
	font-language-override: normal;
	font-size: inherit;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-synthesis: weight style;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	text-rendering: auto;

	@each $icon, $font-value in $-icons {
		&.sf-#{$icon} {
			&:before {
				content: $font-value;
			}
		}
	}
}