@import "../bp-mixins/sassy-cast";
@mixin helperGenerator-a($items, $optionName) {
  $preffix:null;
  @if ($optionName == 'margin') { $preffix:'m' }
  @if ($optionName == 'padding') { $preffix:'p' }
  @if ($optionName == 'width') { $preffix:'w' }
  @if ($optionName == 'height') { $preffix:'h' }
  @if ($optionName == 'font-size') { $preffix:'fs' }

  @if ($preffix != null ) {
    @each $brakepoint in $bp-breakpoint-classes {
      @include media-breakpoint($brakepoint) {

        @each $value, $parameters in $items {
          $parameter: 0;
          $unit: nth($parameters, 1);               //parameter - unit
          $classesToGenerate: nth($parameters, 2);  //parameter - sub option
          $classesToGenerateOnBreakpoints:null;     //parameter - responsive prefix (is exists)
          @if (length($parameters) > 2){
            $classesToGenerateOnBreakpoints: nth($parameters, 3);
          }
          $subOption: null;
          $important: '';
          $brakepoint-name: '';

          @each $ctgob in $classesToGenerateOnBreakpoints {
            @if ($brakepoint == $ctgob) {
              $parameter: 1;
            }
          }

          @if ($parameter == 1) {
            @each $ctg in $classesToGenerate {

              //check sub options
              @if ($ctg == 'a'){ $subOption: '' }
              @if ($ctg == 't'){ $subOption: '-top' }
              @if ($ctg == 'r'){ $subOption: '-right' }
              @if ($ctg == 'b'){ $subOption: '-bottom' }
              @if ($ctg == 'l'){ $subOption: '-left' }

              //if margin, padding - all, remove sub option
              @if ($ctg == 'a'){
                $ctg: ''
              }

              //zero value must be important
              @if ($value == '0') {
                $unit: '!important';
              }

              //negative numbers solution
              $value-name:str-replace($value, '-', 'n');

              $true-value: $value;
              @if ($unit == 'em') {
                $value-name: $value-name + 'e';
              }
              @if ($unit == 'rem') {
                $value-name: $value-name + 'r';
                $true-value: _sc-to-number($value) / ($bp-root-text-size / 1px);
              }
              @if ($unit == '%') {
                $value-name: $value-name + 'pr';
              }

              @if ($brakepoint != 'xs') {
                $brakepoint-name: '-' + $brakepoint;
              }

              //Css option generating
              @if ($subOption != null) {
                .h-#{$preffix}#{$ctg}#{$value-name}#{$brakepoint-name} {
                  #{$optionName}#{$subOption}: #{$true-value}#{$unit};
                }
              }
            }
          }
        }
      }
    }
  } @else {
    @warn $class 'Invalid or unsupported option';
  }
}