@mixin helperGenerator($items) {
    @each $brakepoint in $bp-breakpoint-classes {
        @include media-breakpoint($brakepoint) {
            @each $class, $parameters in $items {
                $option: null;
                $option-value: null;
                $parameter: 0;
                $brakepoint-name: '';
                $advancedParameters: null;
                $advancedParameterImportant: '';
                $advancedParameterAffectChildren: false;

                @if (length($parameters) > 1) {
                    $advancedParameters: nth($parameters, 2);
                }

                @each $ctgob in $parameters {
                    @if ($brakepoint == $ctgob) {
                        $parameter: 1;
                    }
                }

                @if ($parameter == 1) {
                    //Display
                    @if ($class == 'h-dn') { $option: 'display'; $option-value: 'none' }
                    @if ($class == 'h-db') { $option: 'display'; $option-value: 'block' }
                    @if ($class == 'h-dib') { $option: 'display'; $option-value: 'inline-block' }
                    @if ($class == 'h-di') { $option: 'display'; $option-value: 'inline' }
                    @if ($class == 'h-dt') { $option: 'display'; $option-value: 'table' }
                    @if ($class == 'h-dtc') { $option: 'display'; $option-value: 'table-cell' }
                    //Border
                    @if ($class == 'h-bn') { $option: 'border'; $option-value: 'none!important' }
                    //Flex
                    @if ($class == 'l-flex') { $option: 'display'; $option-value: 'flex' }
                    @if ($class == 'l-flex-inline') { $option: 'display'; $option-value: 'inline-flex' }

                    @if ($class == 'l-item-expand') { $option: 'flex'; $option-value: '1 1 auto' }
                    @if ($class == 'l-item-shrink') { $option: 'flex'; $option-value: '0 0 auto' }
                    @if ($class == 'l-item-block') { $option: 'flex'; $option-value: '1 100%' }

                    @if ($class == 'l-wrap') { $option: 'flex-wrap'; $option-value: 'wrap' }
                    @if ($class == 'l-wrap-r') { $option: 'flex-wrap'; $option-value: 'wrap-reverse' }
                    @if ($class == 'l-nowrap') { $option: 'flex-wrap'; $option-value: 'nowrap' }

                    @if ($class == 'l-dir-rev') { $option: 'flex-wrap'; $option-value: 'wrap-reverse' }
                    @if ($class == 'l-dir-row') { $option: 'flex-direction'; $option-value: 'row' }
                    @if ($class == 'l-dir-row-r') { $option: 'flex-direction'; $option-value: 'row-reverse' }
                    @if ($class == 'l-dir-col') { $option: 'flex-direction'; $option-value: 'column' }
                    @if ($class == 'l-dir-col-r') { $option: 'flex-direction'; $option-value: 'column-reverse' }

                    @if ($class == 'l-just-start') { $option: 'justify-content'; $option-value: 'flex-start' }
                    @if ($class == 'l-just-center') { $option: 'justify-content'; $option-value: 'center' }
                    @if ($class == 'l-just-end') { $option: 'justify-content'; $option-value: 'flex-end' }
                    @if ($class == 'l-just-around') { $option: 'justify-content'; $option-value: 'space-around' }
                    @if ($class == 'l-just-between') { $option: 'justify-content'; $option-value: 'space-between' }

                    @if ($class == 'l-start') { $option: 'align-items'; $option-value: 'flex-start' }
                    @if ($class == 'l-center') { $option: 'align-items'; $option-value: 'center' }
                    @if ($class == 'l-end') { $option: 'align-items'; $option-value: 'flex-end' }
                    @if ($class == 'l-stretch') { $option: 'align-items'; $option-value: 'stretch' }
                    @if ($class == 'l-baseline') { $option: 'align-items'; $option-value: 'baseline' }

                    @if ($class == 'l-cont-start') { $option: 'align-content'; $option-value: 'flex-start' }
                    @if ($class == 'l-cont-center') { $option: 'align-content'; $option-value: 'center' }
                    @if ($class == 'l-cont-end') { $option: 'align-content'; $option-value: 'flex-end' }
                    @if ($class == 'l-cont-around') { $option: 'align-content'; $option-value: 'space-around' }
                    @if ($class == 'l-cont-between') { $option: 'align-content'; $option-value: 'space-between' }
                    @if ($class == 'l-cont-stretch') { $option: 'align-content'; $option-value: 'flex-stretch' }

                    @if ($class == 'l-item-start') { $option: 'align-self'; $option-value: 'flex-start' }
                    @if ($class == 'l-item-center') { $option: 'align-self'; $option-value: 'center' }
                    @if ($class == 'l-item-end') { $option: 'align-self'; $option-value: 'flex-end' }
                    @if ($class == 'l-item-stretch') { $option: 'align-self'; $option-value: 'stretch' }
                    @if ($class == 'l-item-baseline') { $option: 'align-self'; $option-value: 'baseline' }
                    @if ($class == 'l-item-auto') { $option: 'align-self'; $option-value: 'auto' }

                    //Text Align
                    @if ($class == 'h-text-right') { $option: 'text-align'; $option-value: 'right' }
                    @if ($class == 'h-text-center') { $option: 'text-align'; $option-value: 'center' }
                    @if ($class == 'h-text-left') { $option: 'text-align'; $option-value: 'left' }
                    @if ($class == 'h-text-just') { $option: 'text-align'; $option-value: 'justify' }
                    //Text Weight
                    @if ($class == 'h-fw400') { $option: 'font-weight'; $option-value: '400' }
                    @if ($class == 'h-fw600') { $option: 'font-weight'; $option-value: '600' }
                    @if ($class == 'h-fw700') { $option: 'font-weight'; $option-value: '700' }

                    @if ($brakepoint != 'xs') {
                        $brakepoint-name: '-' + $brakepoint;
                    }

                    @each $advancedParameter in $advancedParameters {
                        @if ($advancedParameter == 'important') {
                            $advancedParameterImportant: '!important'
                        }
                        @if ($advancedParameter == 'childs') {
                            $advancedParameterAffectChildren: true
                        }
                    }

                    @if ($option != null) {
                        .#{$class}#{$brakepoint-name} {
                            @if ($advancedParameterAffectChildren == true) {
                                &, *{
                                    #{$option}: #{$option-value}#{$advancedParameterImportant}
                                }
                            }
                            @else {
                                #{$option}: #{$option-value}#{$advancedParameterImportant}
                            }
                        }
                    } @else {
                        @warn $class 'This option not supporting in this generator';
                    }
                }
            }
        }
    }
}
//@if (length($someVar) > 0){ .. }
