@import "../bp-mixins/sassy-cast";

@mixin helperGenerator-b($items) {
  @each $brakepoint in $bp-breakpoint-classes {
    @include media-breakpoint($brakepoint) {
      @each $class, $parameters in $items {
        $option: null;
        $option-value: null;
        $parameter: 0;
        $brakepoint-name: '';

        $classesToGenerate: nth($parameters, 1);
        $classesToGenerateOnBreakpoints: nth($parameters, 2);

        @each $ctgob in $classesToGenerateOnBreakpoints {
          @if ($brakepoint == $ctgob) {
            $parameter: 1;
          }
        }

        @if ($parameter == 1) {
          @each $ctg in $classesToGenerate {
            //Flex
            @if ($class == 'l-item-grow') { $option: 'flex-grow'; }
            @if ($class == 'l-item-order') { $option: 'order'; }
            @if ($class == 'l-item-shrink') { $option: 'flex-shrink'; }

            @if ($brakepoint != 'xs') {
              $brakepoint-name: '-' + $brakepoint;
            }

            $value-string:_sc-to-string($ctg);
            $value-name:str-replace($value-string, '-', 'n');

            @if ($option != null) {
              .#{$class}#{$value-name}#{$brakepoint-name} {
                #{$option}: #{$ctg}
              }
            } @else {
              @warn $class 'This option not supporting in this generator';
            }
          }
        }
      }
    }
  }
}