<div class="row h-mt15">
    <div class="col-xs-12">
        <div class="h-bg2 h-p10">
            <strong>This is from ajax:</strong>
            <ul class="h-lsn h-mt0 h-p0">
                <li>Some content</li>
                <li>Some content</li>
                <li>Some content</li>
                <li>Some content</li>
            </ul>
        </div>
    </div>
</div>
